# Virtual environment:
.venv/

# Compiled Python files:
*.pyc
*.pyo
__pycache__/

# Distribution & Build directories:
dist/
build/
*.egg-info/
*.dist-info/

# IDE specific files:
.idea/
.vscode/

# OS specific files:
.DS_Store
Thumbs.db

# Log and CSV files:
*.log
*.csv

# Miscellaneous files:
startup_steps.txt
